<style>
    .my-drop-zone {
    }

    .nv-file-over {
    }

    /* Default class applied to drop zones on over */
    .another-file-over-class {
        border: dotted 3px green;
    }

    html, body {
        height: 100%;
    }

    .processing {
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: grey; /* adjust as needed */
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }

    .footer {
        background-color: #337ab7;
        border-radius: .2em;
        padding: 1em;
        color: lightgray;
        bottom: 0;
        display: block;
        width: 100%;
    }

    .footer a {
        color: lightgray;
        text-decoration: underline;
    }
</style>

<div ng2FileDrop
     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
     (fileOver)="fileOverBase($event)"
     [uploader]="uploader"
     class="my-drop-zone container">

    <h1>Online Blind Image Quality Assessment</h1>

    <div class="row">
        <div id="upload-queue" class="col-md-6">
            <input type="file" class="btn btn-primary btn-block" ng2FileSelect [uploader]="uploader" multiple/>
        </div>
        <div id="upload-button1" class="col-md-3">
            <button type="button" class="btn btn-success btn-s btn-block"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Assess all
            </button>
        </div>
        <div id="upload-button2" class="col-md-3">
            <button type="button" class="btn btn-danger btn-s btn-block"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>
    </div>
    <div class="row" style="margin:1em">
        <div class="col-md-12">
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar"
                         [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="uploader.queue.length" class="row">
        <strong>
            <div class="col-md-3">Image</div>
            <div class="col-md-3">Progress</div>
            <div class="col-md-6">Result</div>
        </strong>
    </div>
    <div *ngFor="let item of uploader.queue">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"><!--Name-->
                <div class="row">
                    <img style="width:200px" src="" imgPreview [image]="item?._file" class="media-object"/>
                    <strong>{{ item?.file?.name }}</strong>
                </div>

            </div>

            <div class="col-md-3"><!--Progress -->
                <div class="row">
                    <div class="col-md-4" style="margin: 0;padding: 0;">
                        <strong>Progress:</strong>
                    </div>
                    <div class="col-md-8">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar"
                                 [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="margin: 0;padding: 0;">
                        <strong>Size:</strong>
                    </div>
                    <div class="col-md-8">
                        {{ item?.file?.size/1024/1024 | number:'.2' }} MB
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="margin: 0;padding: 0;">
                        <strong>Status</strong>
                    </div>
                    <div class="col-md-8">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        <span *ngIf="item.isUploading"><i class="glyphicon glyphicon-refresh processing"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-md-6" *ngIf="item.algorithms"><!--Result-->

                <!-- accordion -->
                <accordion [closeOthers]="false">
                    <accordion-group>
                        <accordion-heading>
                            <div *ngIf="item.assessment" style="height: 1.5em">
                                <div class="col-md-1">
                                    <i class="glyphicon glyphicon-chevron-down" style="margin-top: .2em"></i>
                                </div>
                                <div class="col-md-11">
                                    <my-score [assessment]="item.assessment"></my-score>
                                </div>
                            </div>
                        </accordion-heading>
                        <accordion-group *ngFor="let algorithm of item.algorithms">
                            <accordion-heading>
                                            <span *ngIf="algorithm.success">
                                                <table width="100%">
                                                    <tr>
                                                        <td>{{algorithm.name | uppercase}}:</td>
                                                        <td width="40%" align="right">
                                                            <my-score
                                                                    [score]="algorithm.score"></my-score>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </span>
                                <span *ngIf="!algorithm.success" class="alert alert-danger"
                                      style="padding: 2px">{{algorithm.name | uppercase}} failed</span>
                            </accordion-heading>
                            <div *ngIf="algorithm.success">
                                <p>Description: {{algorithm.description}}</p>
                                Score: {{algorithm.score}} <br/>
                                Duration: {{algorithm.duration}}s
                            </div>
                            <div *ngIf="!algorithm.success">
                                algorithmus failed
                            </div>
                        </accordion-group>
                    </accordion-group>
                </accordion>
                <!-- accordion -->

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-6">
                Copyright 2016
            </div>
            <div class="col-md-6">
                <a href="/help.html">Help</a>
            </div>
        </div>

    </div>


</div>