html, body {
    border: dotted 3px green;
    height: 100%;
}

.score-container {
    position: relative;
    height: 1.5em;
}

.score-baseline,
.score-average,
.score-baseline-right,
.score-stddev,
.score-baseline-left {
    position: absolute;

    top: 0;
    left: 0;
}

.score-baseline {
    background: #337ab7;

    background: -webkit-linear-gradient(left, #d9534f, #337ab7, #5cb85c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d9534f, #337ab7, #5cb85c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d9534f, #337ab7, #5cb85c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d9534f, #337ab7, #5cb85c); /* Standard syntax */
    top: 42.5%;
    height: 0.3em;
    width: 100%;
}

.score-baseline-right,
.score-baseline-left {
    /*border: solid 1px #337ab7;*/
    border-radius: 0.2em;
    width: 0.4em;
}

.score-baseline-right {
    background-color: #5cb85c;
    margin-left: 99%;
    height: 100%;
}

.score-baseline-left {
    background-color: #d9534f;
    margin-left: 0;
    height: 100%;
}

.score-average {
    background-color: #fcff5e;
    width: 0.4em;
    height: 100%;
    border: solid 1px #000000;
    border-radius: 0.2em;
    z-index: 10;
}

.score-stddev {
    background-color: #fcff5e;
    margin-top: 0.25em;
    height: 1em;
    border: solid 1px #C0C0C0;
    border-radius: 0.2em;
    opacity: 0.6;
    z-index: 8;
}