<div class="score-container">

    <div class="score-baseline">
    </div>
    <div class="score-baseline-left">
    </div>
    <div class="score-baseline-right">
    </div>


    <div *ngIf="hasStddev" class="score-stddev" [style.margin-left]="setStddevPosition()" [style.width]="setStddevWidth()">
    </div>

    <div class="score-average" [style.margin-left]="setIndicatorPosition()">
    </div>

    <br/>
</div>
